{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Crear Bufete</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bufetes_index') }}">Regresar a la Lista</a>
        </li>
    </ul>
{% endblock %}
