{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Nuevo Trabajo</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('trabajos_index') }}">Regresar al Listado</a>
        </li>
    </ul>
{% endblock %}
